{% extends 'base.html.twig' %}

{% block title %}Ajout d'un état{% endblock %}
{% block body %}
<link href="style.css" rel="stylesheet">
{% if app.user.id is defined %}
    {% for role in app.user.roles %}
        {% if role == "ROLE_ADMIN" %}

            <div class="AddForm">

                {{ form_start(form) }}
                    {{ "Nom de l'état" }}
                    {{ form_widget(form.nomEtat) }}<br><br>
            
                    {{ "Description de l'état" }}
                    {{ form_widget(form.descriptionEtat) }}<br><br>

                    {{ form_rest(form) }}
                    <div class="btnAjouter">
                        <input type="submit" value="Ajouter">
                    </div>
                {{ form_end(form) }}

            </div>

        {% endif %}
    {% endfor %}
{% endif %}


    
{% endblock %}