{% extends 'base.html.twig' %}

{% block title %}Ajout d'une marque{% endblock %}
{% block body %}
<link href="style.css" rel="stylesheet">
{% if app.user.id is defined %}
    {% for role in app.user.roles %}
        {% if role == "ROLE_ADMIN" %}
            
            <div class="AddForm">

                {{ form_start(form) }}
                    {{ "Nom de la marque" }}
                    {{ form_widget(form.nomMarque) }}<br><br>
            
                    {{ "Lien vers la photo de la marque" }}
                    {{ form_widget(form.photoMarque) }}<br><br>

                    {{ form_rest(form) }}
                    <div class="btnAjouter">
                        <input type="submit" value="Ajouter">
                    </div>
                {{ form_end(form) }}

            </div>

        {#{% else %}

            <p>Vous devez être connecté en administrateur pour continuer</p><br><br>
            <a href="{{ path('main') }}">
                <div class="btnAjouter">
                    <input type="submit" value="Ajouter">
                </div>
            </a>#}

        {% endif %}
    {% endfor %}
{% endif %}

    
{% endblock %}