{% extends 'base.html.twig' %}

{% block body %}

<link href="assets/style.css" rel="stylesheet">

<h1>LISTE DE CONSOLE</h1>

{% if app.user.id is defined %}
    {% for role in app.user.roles %}
        {% if role == "ROLE_ADMIN" %}
            <div class="buttonsAdmin">
                <a href="{{ path('AjoutConsole') }}">
                    <input type="submit" value="Ajout">
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% set compteur = 0 %}
<table>
    {% for unConsole in Console %}
        {% set compteur = compteur + 1 %}
        {% if compteur % 4 == 0 %}
            <tr></tr>
        {% set compteur = 1 %}
        {% endif %}
            <td>
                <article class="card">
                    <header class="card_thumb_console">
                        <div class="card__title">
                            <a href="#">
                            <img src={{unConsole.photoConsole}} class="img_console">
                            </a>
                        </div>
                    </header>
                    <div class="card__body">
                        <h2 class="card__title"><a> {#href="{{ path('detailsJeux', {id: unJeu.id}) }}">#}{{unConsole.nomConsole}}</a></h2>
                    </div>
                </article>
            </td>

            {% if app.user.id is defined %}
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <div class="buttonsAdmin">
                            <table>
                                <tr>
                                    <td>
                                        <a href="{{ path('DeleteConsole', {'id':unConsole.id}) }}">
                                            <input type="submit" value="Supprimer">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

    {% endfor %}
</table>

{% endblock %}